models:
    Todo:
        title: string:400
        content: text
        creator_id: id foreign:users
        status: enum:pending,wip,completed
        completed_at: nullable timestamp
        softDeletes: true

seeders: Todo

controllers:
    Todo:
        resource: web
        export:
            query: all
            respond: todos
